:root {
  --bg: black;
  --active: #fbca97;
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg);
  font-family: "Press Start 2P", monospace;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: "Press Start 2P", monospace;
  border: 5px solid var(--active);
  background-color: var(--bg);
  color: white;
  padding: 20px;
  cursor: pointer;
  transition: all .25s;
  text-transform: uppercase;
}

button:hover {
  border-color: var(--bg);
  background-color: var(--active);
  color: var(--bg);
}

*, *::after, *::before {
  box-sizing: border-box;
}